<p>
  {{
    "pages.applications.details.verification-details.not-configured" | translate
  }}
</p>

<form [formGroup]="form">
  <hlm-radio-group
    class="grid grid-cols-3 gap-4"
    formControlName="verificationStrategy"
  >
    <hlm-radio value="card">
      <ng-icon hlm name="lucideCreditCard" class="mb-3" />
      Card
    </hlm-radio>
    <hlm-radio value="paypal">
      <ng-icon hlm name="lucideCreditCard" class="mb-3" />
      PayPal
    </hlm-radio>
    <hlm-radio value="apple">
      <ng-icon hlm name="lucideCreditCard" class="mb-3" />
      Apple
    </hlm-radio>
  </hlm-radio-group>
</form>
