<hb-page [title]="appLabel()" [translateTitle]="false">
  @if (isLoaded()) {
    @if (!wasLastVerificationSuccessful()) {
      <p class="warning text-center">
        @if (!isVerificationConfigured()) {
          {{ "pages.applications.details.verification-details.not-configured" | translate }}
        } @else if (!wasVerifiedAtLeastOnce()) {
          {{ "pages.applications.details.verification-details.not-verified-yet" | translate }}
        } @else {
          {{ "pages.applications.details.verification-details.verification-failed" | translate }}
        }
      </p>
    }

    <brn-collapsible>
      <hb-h2 brnCollapsibleTrigger>{{ "pages.applications.details.verification-details.title" | translate }}</hb-h2>

      <brn-collapsible-content>
        <hb-verification-configuration [verificationConfiguration]="verificationConfiguration()" />
      </brn-collapsible-content>
    </brn-collapsible>
  }
</hb-page>
