<hb-page [title]="appLabel()">
  @if (isLoaded()) {
    @if (!wasLastVerificationSuccessful()) {
      <p class="warning text-center">
        @if (!isVerificationConfigured()) {
          {{ "pages.applications.details.verification-details.not-configured" | translate }}
        } @else if (!wasVerifiedAtLeastOnce()) {
          {{ "pages.applications.details.verification-details.not-verified-yet" | translate }}
        } @else {
          {{ "pages.applications.details.verification-details.verification-failed" | translate }}
        }
      </p>
    }

    <brn-collapsible [expanded]="autoExpandVerificationConfiguration()" class="group">
      <button brnCollapsibleTrigger class="cursor-pointer">
        <hb-h2>
          <ng-icon name="lucideChevronUp" class="group-data-[state=closed]:hidden mr-3" />
          <ng-icon name="lucideChevronDown" class="group-data-[state=open]:hidden mr-3" />{{
            "pages.applications.details.verification-details.title" | translate
          }}</hb-h2
        >
      </button>

      <brn-collapsible-content>
        <hb-verification-configuration [verificationConfiguration]="verificationConfiguration()" />
      </brn-collapsible-content>
    </brn-collapsible>
  }
</hb-page>
