<brn-toggle-group
  hlm
  multiple="false"
  nullable="false"
  size="sm"
  [value]="mode"
>
  <button
    aria-label="System"
    value="system"
    hlmToggleGroupItem
    hlmTooltipTrigger="{{ 'layout.theme.system' | translate }}"
    class="cursor-pointer"
    (click)="setMode(Theme.System)"
  >
    <ng-icon name="lucideLaptop" />
  </button>

  <button
    aria-label="Light"
    value="light"
    hlmToggleGroupItem
    hlmTooltipTrigger="{{ 'layout.theme.light' | translate }}"
    class="cursor-pointer"
    (click)="setMode(Theme.Light)"
  >
    <ng-icon name="lucideSun" />
  </button>

  <button
    aria-label="Dark"
    value="dark"
    hlmToggleGroupItem
    hlmTooltipTrigger="{{ 'layout.theme.dark' | translate }}"
    class="cursor-pointer"
    (click)="setMode(Theme.Dark)"
  >
    <ng-icon name="lucideMoon" />
  </button>
</brn-toggle-group>
