<!-- <div class="flex h-screen w-full overflow-hidden">
  <hb-sidebar />

  <div class="flex grow flex-col content-start overflow-hidden bg-card">
    <hb-navbar />

    <div
      class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted"
    >
      <div class="p-8 bg-secondary min-h-full w-full">
        <router-outlet></router-outlet>
      </div>
    </div>

    <hb-footer />
  </div>
</div> -->

<div class="flex flex-col w-full h-screen overflow-hidden">
  <hb-navbar />

  <div class="flex flex-row overflow-auto flex-grow">
    <hb-sidebar />

    <div class="bg-secondary min-h-full w-full p-8">
      <router-outlet></router-outlet>
    </div>
  </div>

  <hb-footer />
</div>

<hlm-toaster />
